@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

:root {
  /* Light Mode */
  --primary-light-font-color: hsl(236, 9%, 61%);
  --secondary-light-font-color: hsl(235, 19%, 35%);
  --primary-light-bg-color: hsl(0, 0%, 98%);
  --secondary-light-bg-color: hsl(233, 11%, 84%);

  /* Dark Mode */
  --primary-dark-font-color: hsl(234, 39%, 85%);
  --secondary-dark-font-color: hsl(236, 33%, 92%);
  --primary-dark-bg-color: hsl(237, 14%, 26%);
  --secondary-dark-bg-color: hsl(235, 21%, 11%);

  --active-filter-item: hsl(220, 98%, 61%);
}

html {
  font-size: 18px;
}

body {
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  background-color: var(--secondary-light-bg-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

.icon {
  color: var(--primary-light-font-color);
  font-size: 1.2rem;
}

.icon,
button,
span.check-btn,
span.pointer {
  cursor: pointer;
}

.container.active .icon {
  color: var(--primary-dark-font-color);
}

.container {
  background-color: var(--secondary-light-bg-color);
}

.container.active {
  background-color: var(--secondary-dark-bg-color);
}

.container.active header .brand {
  color: var(--secondary-light-bg-color);
}

.app {
  width: 90%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: 1rem;
  margin: auto;
  max-width: 400px;
}

header {
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem .3rem;
}

header .brand {
  text-transform: uppercase;
  color: var(--secondary-dark-bg-color);
}

form {
  border-radius: .3rem;
  margin-bottom: 1rem;
}

form,
.todo {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  background-color: var(--primary-light-bg-color);
  list-style: none;
}

.container.active form,
.container.active .todo {
  background-color: var(--primary-dark-bg-color);
}

form .checkbox,
.todo .is-complete {
  margin: .5rem;
  border-radius: 10rem;
  aspect-ratio: 1/1;
  display: grid;
  place-items: center;
}

.check-btn {
  min-width: 1.8rem;
  min-height: 1.8rem;
  display: grid;
  place-items: center;
  border-radius: 3rem;
  border: 1px solid var(--secondary-light-bg-color);
}

.container.active .check-btn {
  border: 1px solid var(--secondary-dark-bg-color);
}

form input,
.todo .title {
  border: none;
  margin: auto 0;
  background-color: var(--primary-light-bg-color);
}

.container.active form input,
.container.active .todo .title {
  background-color: var(--primary-dark-bg-color);
}

.todo .title {
  text-transform: capitalize;
  line-height: 1.3rem;
  font-size: .8rem;
  color: var(--secondary-light-font-color);
  word-break: break-word;
}

.container.active .todo .title {
  color: var(--secondary-dark-font-color);
}

form input {
  padding-block: 1rem;
  font-size: .8rem;
  outline: none;
  color: var(--primary-light-font-color);
}

.container.active form input {
  color: var(--primary-dark-font-color);
}

form input::placeholder {
  width: 100%;
  height: 100%;
  color: var(--primary-light-font-color);
}

.container.active form input::placeholder {
  color: var(--primary-dark-font-color);
}

form button,
.todo button {
  aspect-ratio: 1/1;
  border: none;
  background-color: transparent;
  color: var(--primary-light-font-color);
  outline: none;
}

.container.active form button,
.container.active .todo button {
  color: var(--primary-dark-font-color);
}

.todos {
  width: 100%;
  background-color: var(--primary-light-bg-color);
  border-radius: .3rem;
  overflow: hidden;
}

.container.active .todos {
  background-color: var(--primary-dark-bg-color);
}

.todo-list {
  height: 250px;
  overflow-y: scroll;
}

.todo-list::-webkit-scrollbar {
  width: 6px;
}

.todo-list::-webkit-scrollbar-track {
  background-color: transparent;
  margin: 3px;
}

.todo-list::-webkit-scrollbar-thumb {
  background-color: var(--primary-light-font-color);
  border-radius: 2rem;
}

.container.active .todo-list::-webkit-scrollbar-thumb {
  background-color: var(--primary-dark-font-color);
}

.todo-list li {
  border-bottom: 1px solid var(--secondary-light-bg-color);
}

.container.active .todo-list li {
  border-bottom: 1px solid var(--secondary-dark-bg-color);
}

.container.active .todo-list li:last-child,
.todo-list li:last-child {
  border-bottom: none;
}

.todo-list .no-todo {
  z-index: 5;
  margin: auto;
}

.todos .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todos .bottom span {
  margin: 1rem;
  font-size: .8rem;
  color: var(--primary-light-font-color);
  font-weight: bold;
}

.container.active .todos .bottom span {
  color: var(--primary-dark-font-color);
}

.filter {
  border-radius: .3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  padding: 1rem;
  background-color: var(--primary-light-bg-color);
}

.container.active .filter {
  background-color: var(--primary-dark-bg-color);
}

.filter span {
  padding-inline: 0.5rem;
  color: var(--primary-light-font-color);
  font-weight: bold;
}

.container.active .filter span {
  color: var(--primary-dark-font-color);
}

.container.active .filter span.active,
.filter span.active {
  color: var(--active-filter-item);
}
